@{
    Layout = null;
}
<script src="~/assets/asset-web/js/header.js"></script>
<main>
    <!--page-title-area start-->
    <section class="page-title-area" style="background-image: url(/assets/asset-web/img/bg/breadcrumb.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 offset-xl-3">
                    <div class="page-title-wrapper text-center pt-125">
                        <div class="page-title-box">
                            <h2 class="page-title">Children Donation List</h2>
                            <ul class="breadcrumb-list">
                                <li><a href="/BrainStew/index.html">Home <i class="far fa-chevron-right"></i></a></li>
                                <li><a href="#">Children Donation List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--page-title-area end-->
    <!--cases-area start-->
    <section class="cases-area pb-100 mt-100">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <div class="section-title text-center mb-75 pl-50 pr-50 wow fadeInUp2 animated" data-wow-delay='.1s'>
                        <h6><span><i class="fas fa-heart"></i></span> Brain Stew Foundation</h6>
                        <h2>
                            Donate Our Popular Charity Causes
                            Around The World
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.2s'>
                        <div class="cases__box pos-rel">
                            <img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">
                          
                        </div>
                        <div class="cases__content">
                            <h4 class="semi-02-title">Somalia D Silva</h4>
                            <div class="cases-progress mb-25">
                                <p class="funding">Raised <span>$8420</span></p>
                            </div>
                            <h3>
                                <a href="/Home/ChildrenDonation">
                                    Donate Mineral Water
                                    For Refugees
                                </a>
                            </h3>
                            <p class="mb-25">
                                But must explain to you how
                                all this mistaken denouncing pleasure and praising pain
                            </p>
                            <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation">donate <span><i class="fas fa-heart"></i></span></a>
                            <div class="team-details-wrapper mt-4">
                                <div class="teams__thumb--social">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.4s'>
                        <div class="cases__box pos-rel">
                            <img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">
                        </div>
                        <div class="cases__content">
                            <h4 class="semi-02-title">Somalia D Silva</h4>
                            <div class="cases-progress mb-25">
                                <p class="funding">Raised <span>$8420</span></p>
                            </div>
                            <h3>
                                <a href="/Home/ChildrenDonation">
                                    Donate Food & Home
                                    For Childrens
                                </a>
                            </h3>
                            <p class="mb-25">
                                But must explain to you how
                                all this mistaken denouncing pleasure and praising pain
                            </p>
                            <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation">donate <span><i class="fas fa-heart"></i></span></a>
                            <div class="team-details-wrapper mt-4">
                                <div class="teams__thumb--social">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.6s'>
                        <div class="cases__box pos-rel">
                            <img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">
                        </div>
                        <div class="cases__content">
                            <h4 class="semi-02-title">Somalia D Silva</h4>
                            <div class="cases-progress mb-25">
                                <p class="funding">Raised <span>$8420</span></p>
                            </div>
                            <h3>
                                <a href="/Home/ChildrenDonation">
                                    Donate Peoples For
                                    Accommodation
                                </a>
                            </h3>
                            <p class="mb-25">
                                But must explain to you how
                                all this mistaken denouncing pleasure and praising pain
                            </p>
                            <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation">donate <span><i class="fas fa-heart"></i></span></a>
                            <div class="team-details-wrapper mt-4">
                                <div class="teams__thumb--social">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.8s'>
                        <div class="cases__box pos-rel">
                            <img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">
                        </div>
                        <div class="cases__content">
                            <h4 class="semi-02-title">Somalia D Silva</h4>
                            <div class="cases-progress mb-25">
                                <p class="funding">Raised <span>$8420</span></p>
                            </div>
                            <h3>
                                <a href="/Home/ChildrenDonation">
                                    Donate Food & Home
                                    For Childrens
                                </a>
                            </h3>
                            <p class="mb-25">
                                But must explain to you how
                                all this mistaken denouncing pleasure and praising pain
                            </p>
                            <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation">donate <span><i class="fas fa-heart"></i></span></a>
                            <div class="team-details-wrapper mt-4">
                                <div class="teams__thumb--social">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-youtube"></i>
                                        <i class="fab fa-youtube"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-linkedin"></i>
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                            </div>
                         </div>
                    </div>
                </div>
                @if (Model != null)
                {
                    if (Model.lst != null)
                    {
                        foreach (var Item in Model.lst)
                        {
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.2s'>
                                    <div class="cases__box pos-rel">
                                        @*<img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">*@
                                        <img height="474" width="270" src="@Item.Image" alt="">
                                    </div>
                                    <div class="cases__content">
                                        <h4 class="semi-02-title">@Item.ChildName</h4>
                                        <div class="cases-progress mb-25">
                                            <p class="funding">Raised <span>@Item.ApprovedAmount</span></p>
                                        </div>
                                        <h3>
                                            <a href="/Home/ChildrenDonation">
                                               @Item.Need
                                            </a>
                                        </h3>
                                        <p class="mb-25">
                                            @Item.Description
                                        </p>
                                        <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation?Id=@Item.DonationId">donate <span><i class="fas fa-heart"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
                @*<div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.4s'>
                            <div class="cases__box pos-rel">
                                <img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">
                            </div>
                            <div class="cases__content">
                                <h4 class="semi-02-title">Somalia D Silva</h4>
                                <div class="cases-progress mb-25">
                                    <p class="funding">Raised <span>$8420</span></p>
                                </div>
                                <h3>
                                    <a href="/Home/ChildrenDonation">
                                        Donate Food & Home
                                        For Childrens
                                    </a>
                                </h3>
                                <p class="mb-25">
                                    But must explain to you how
                                    all this mistaken denouncing pleasure and praising pain
                                </p>
                                <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation">donate <span><i class="fas fa-heart"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.6s'>
                            <div class="cases__box pos-rel">
                                <img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">
                            </div>
                            <div class="cases__content">
                                <h4 class="semi-02-title">Somalia D Silva</h4>
                                <div class="cases-progress mb-25">
                                    <p class="funding">Raised <span>$8420</span></p>
                                </div>
                                <h3>
                                    <a href="/Home/ChildrenDonation">
                                        Donate Peoples For
                                        Accommodation
                                    </a>
                                </h3>
                                <p class="mb-25">
                                    But must explain to you how
                                    all this mistaken denouncing pleasure and praising pain
                                </p>
                                <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation">donate <span><i class="fas fa-heart"></i></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="cases cases-04 grey-bg2 d-xl-flex align-items-center mb-30 wow fadeInUp2 animated" data-wow-delay='.8s'>
                            <div class="cases__box pos-rel">
                                <img class="img-one d-none  d-xl-block" src="/assets/asset-web/img/cases/06.jpg" alt="">
                            </div>
                            <div class="cases__content">
                                <h4 class="semi-02-title">Somalia D Silva</h4>
                                <div class="cases-progress mb-25">
                                    <p class="funding">Raised <span>$8420</span></p>
                                </div>
                                <h3>
                                    <a href="/Home/ChildrenDonation">
                                        Donate Food & Home
                                        For Childrens
                                    </a>
                                </h3>
                                <p class="mb-25">
                                    But must explain to you how
                                    all this mistaken denouncing pleasure and praising pain
                                </p>
                                <a class="theme_btn theme_btn3 theme_btn_bg_02" href="/Home/ChildrenDonation">donate <span><i class="fas fa-heart"></i></span></a>
                            </div>
                        </div>
                    </div>*@
            </div>
        </div>
    </section>
    <!--cases-area end-->

</main>

<script src="~/assets/asset-web/js/footer.js"></script>












